##招行对公余额查询
#set($umask    = "1000")
#set($cmb_user  = $data.cmbUser)
    $!{umask}<?xml version="1.0" encoding="GBK"?>
<CMBSDKPGK>
    <INFO>
        <FUNNAM>GetAccInfo</FUNNAM>
        <DATTYP>2</DATTYP>
        <LGNNAM>$!{cmb_user}</LGNNAM>
    </INFO>
    <SDKACINFX>
        <BBKNBR>75</BBKNBR>
        <ACCNBR>$!{data.acctNo}</ACCNBR>
    </SDKACINFX>
</CMBSDKPGK>